@charset "UTF-8"

main{
	margin:20px 10px;
}
main  input{
	margin:5px;
}

main > .guestLogin-title{
	margin-top:30px;
	margin-bottom:10px;
}
main > .guest-login{
	margin:10px 0;
}

main > .newAccount{
	display:block;
	margin:40px 5px 5px 5px;
}

